<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <a href="index.html" class="logo me-auto me-lg-0"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>
            <p>
              167 - 169 Great Portland Street <br>
              5th Floor<br>
              London, W1W 5PF<br>
              <strong>Phone:</strong> +44 (0)20 3637 8440<br>
              <strong>Email:</strong> comms@hmxlabs.uk<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://github.com/hmxlabs/" class="github"><i class="bx bi-github"></i></a>
              <a href="https://www.linkedin.com/company/hmx-labs/" class="linkedin"><i class="bx bi-linkedin"></i></a>
              <a href="https://twitter.com/HmxLabs" class="twitter-x"><i class="bx bi-twitter-x"></i></a>
              <a href="https://www.instagram.com/hmxlabs/" class="instagram"><i class="bx bi-instagram"></i></a>
              <a href="https://medium.com/hmxlabs" class="medium"><i class="bx bi-medium"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/index.html">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/index.html#about">About Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/index.html#team">Exec Board</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/cookies.html">Cookie Policy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/privacy.html">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Divisions &amp; Products</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/hpc/product/intro-meeting.html">HPC Introduction Meeting</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/hpc/product/cloud-benchmark-data">Cloud Benchmark Data</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/hpc/product/cloud-vm-benchmarking-as-service.html">Cloud Benchmarking Service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/hpc/case-study/financial-services-cloud-migration.html">FSI HPC Cloud Migration</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/consulting/">Consulting</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Flux</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://cloudhpc.news/tag/hpc">HPC News</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://cloudhpc.news/tag/aws">AWS News</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://cloudhpc.news/tag/azure">Azure News</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://cloudhpc.news/tag/quantum-the-hpc-weekly">Quantum - The HPC Weekly</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://cloudhpc.news#random-bytes">Random Bytes by Hamza</a></li>
          </ul>
        </div>
      
      </div>  <!-- End of row -->

    </div> <!-- End of container -->
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>HMx Labs Limited</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->