<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <a href="/consulting/" class="logo me-auto me-lg-0"><img src="/assets/img/logo-consulting.png" alt="" class="img-fluid"></a>
      <a href="/" class="logo me-auto me-lg-0"><img src="/assets/img/beta.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="/">&#x2190 HMx Labs |</a></li>
          <li><a class="nav-link scrollto" href="/consulting/#enterprise-or-startup">At Any Scale</a></li>
          <li><a class="nav-link scrollto" href="/consulting/#case-study-data-catalog">Case Studies</a></li>
          <li><a class="nav-link scrollto" href="/consulting/#consulting-products">Products &amp; Services</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->